= turbo_frame_tag 'audio-frame' do 
  %div{ class: 'bg-gradient-to-tl from-zinc-800 via-zinc-900 to-black border-zinc-950 px-10 py-4' }
    #audio{ data: { controller: 'audio-player', 
                    audio_player_play_class: 'iconoir-play-solid', 
                    audio_player_pause_class: 'iconoir-pause-solid', 
                    audio_player_target: 'playPause' } } 

      = audio_tag @episode.url, preload: 'metadata', controls: false, id: 'audio-source', data: { audio_player_target: 'audioSource', action: 'timeupdate->audio-player#playPositionUpdate loadedmetadata->audio-player#metadata' }

      .flex.flex-row.items-center.space-x-5
        - if @episode.image
          .flex-none 
            .drop-shadow= image_tag @episode.image, class: 'object-scale-down max-h-16'
        .flex-none
          %button{ data: { action: 'click->audio-player#playPause' } }
            %i.play-control.iconoir-play-solid{ data: { audio_player_target: 'playControl' } }
        .flex-1.overflow-hidden
          .flex-col
            .flex-1
              .truncate.text-sm #{@episode.feed.name} &mdash; #{@episode.title}
            .flex-1
              = range_field_tag 'playhead', 0, class: 'w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700', data: { audio_player_target: 'playHead', action: 'change->audio-player#seek' } 
          .flex-1
            #time.flex-1.text-sm.text-right.numeric-fixed
              %span#position{ data: { audio_player_target: 'position' } } -:-
              \/
              %span#duration{ data: { audio_player_target: 'duration' } } -:-