%h1= @episode.title
%h2= @episode.published_at.to_formatted_s(:long_ordinal)


#audio{ data: { controller: 'audio-player' } }
  = audio_tag @episode.url, controls: true, id: 'audio-source', data: { audio_player_target: 'audioSource', action: 'timeupdate->audio-player#playPositionUpdate loadedmetadata->audio-player#metadata' }
  %div
    = range_field_tag 'playhead', 0, class: 'w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700', data: { audio_player_target: 'playHead' } 
  %div
    %button{ data: { action: 'click->audio-player#playPause' } }
      Play / pause

%p= simple_format @episode.description