!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title GloriousRadio
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = stylesheet_link_tag "https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css"
    = javascript_importmap_tags
    = yield :head
  %body{ class: 'bg-zinc-100 dark:bg-zinc-900' }
    %main.prose.prose-zinc.container.mx-auto.mt-28.px-5{ class: 'dark:prose-invert' }
      = yield
